.etabs {
    &-nav {
        &__item {
            margin-right: 64px;
            padding-bottom: 9px;
            padding-right: 20px;
            @media only screen and (max-width: 767px) {
                margin-right: 33px;
            }
        }
        &__link {
            @include font-style(22px, $weight-medium, $color-dark-blue);
            line-height: 33px;
            padding-bottom: 9px;
            padding-right: 20px;
            transition: all 0.5s;
            @media only screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 21px;
            }
            &.active {
                border-radius: 0px;
                border-bottom: 4px solid $color-orange;
            }

            &:hover {
                color: $color-dark-blue;
                opacity: 0.7;
            }
        }
    }

    &-content {
        margin-top: 45px;
        @media only screen and (max-width: 767px) {
            margin-top: 31px;
        }
        &__item {
            display: none;
            &.active {
                display: block;
            }
        }       
    }

    &__info {
        @include font-style(18px, $weight-regular, $color-info-text);
        line-height: 34px;
        @media only screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 34px;
        }
    }
}