
    <div style="height: 100vh;" class="container">
        <div  class="d-flex h-100">

            <div  class="align-self-center mx-auto">
                <div class="cardcontainer">
                    <div class="d-flex justify-content-center">
                        <img class="galleryImg" src="assets/img/loading.png">
                    </div>
                   </div>
               <!-- <img style="padding-left: 30%;" class="imgmotion img-fluid" src="../../assets/OnepayPayment.png"/> -->
               <!-- <p class="Redirecttext text-center">Redirecting..!</p>
               <p class="Redirecttext2 text-center">Wait while we redirect you..</p> -->
               <!-- <p class="Redirecttext3 text-center"><a style="text-decoration: none;">Return to payment</a></p> -->
            </div>
     
        </div>
    </div>