

input[type='checkbox'] {
    opacity: 0;
    z-index: -1;
}

input[type='checkbox']+label {
    width: 19px;
    height: 19px;
    display: block;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-indent: -999px;
    overflow: hidden;
    border: 1px solid $color-dark-blue;
    cursor: pointer;
}

input[type='checkbox']#echeckbox+label,
input[type='checkbox']#echeckbox-visa+label,
input[type='checkbox']#echeckbox-frimi+label,
input[type='checkbox']#echeckbox-cod+label {
    border: 2px solid $color-dark-blue;
    background: transparent;
    border-radius: 3px;
}

input[type='checkbox']#echeckbox+label:before,
input[type='checkbox']#echeckbox-visa+label:before,
input[type='checkbox']#echeckbox-frimi+label:before,
input[type='checkbox']#echeckbox-cod+label:before {
    content: '';
    width: 11px;
    height: 11px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    margin: auto;
    background: rgba(31, 47, 91, 1) url(http://katheermizal.info/works/working-with-checkbox/assets/images/tick-icon-white.png) no-repeat;
    background-position: center;
    background-size: 20px;
    transition: all 0.5s;
    border-radius: 2px;
}

input[type='checkbox']#echeckbox:checked+label:before,
input[type='checkbox']#echeckbox-visa:checked+label:before,
input[type='checkbox']#echeckbox-frimi:checked+label:before,
input[type='checkbox']#echeckbox-cod:checked+label:before {
    opacity: 1;
    z-index: 1;
}


.echeckbox-group {
    @include flex-container(row, null, flex-start, center);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -7px;
    &__input {
        display: flex;
    }

    &__text {
        @include font-style(16px, $weight-regular, $color-input-text);
        line-height: 24px;
        letter-spacing: -1.1%;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}