.font-red{
    color: red !important;
    font-size: 10px;
   
    padding: 0;
  
  }

  .bank_details_heading{
    padding-top: 25px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #1F2F5B;
  }

  .bank_details{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.3px;

color: #5E70A1;

  }

  .card_boder{
    border-right: 1px solid #D7DEF1;
  }