$color-orange: #FF891C;
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray-1: #939393;
$color-gray-2: #7682A7;
$color-gray-3: #C7D1ED;
$color-gray-4: #D7DEF1;
$color-gray-5: #ECF0F9;
$color-gray-6: #F2F5F9;
$color-gray-7: #ECF1F9;
$color-red: #FF0000;
$color-dark-gray: #02050C;
$color-dark-blue: #1F2F5B;
$color-dark-blue-2: #1F3A6F;
$color-gradient: linear-gradient(7.56deg, #DE0000 5.34%, #FF6853 121.94%);
$color-type-1: #009918;
$color-type-2: #004D95;
$color-type-3: #C50000;
$color-close-icon: #6E80AA;
$color-bg: #F5F9FF;
$color-bg-1: #EDF3FD;
$color-bg-2: #F0F4FF;
$color-bg-3: #e2eaff;
$color-info-text: #2C3A64;
$color-rating: #FFB900;
$color-review-text: #4B4B4B;
$color-input-text: #1E1E1E;
$color-review-sub: #979797;
$color-ecart-sub: #5E70A1;
$color-border: #C0D2EA;
$color-border-2: #98A6CB;
$color-border-3: #D3DDEA;
$color-border-4: #A0AEC0;
$color-input-bg: #FAFBFE;
$color-input-placeholder: #A1ACCC;
$color-text: #0A0F16;
$color-text-2: #2D3748;
$color-text-3: #051B13;
$color-pay-btn:  #7BC8A1;


$font-family--primary: 'Poppins', sans-serif;


// FONT WEIGHT
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 600;